.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  margin: 0;
}

.articles-sections-container {
  display: grid;
}

.articles-section {
  grid-area: auto;
  display: flex;
}
