@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #15658d;
  color: white;
}

.header-space {
  height: 50px;
}

.header-link {
  text-decoration: none;
  color: white;
  padding: 0 10px 0 10px;
}

h1 {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 100vw;
  justify-content: center;
  align-items: center;
}

.articles-page {
  background-image: url("./background-image.png");
}

.topics-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
}

.filter-radios {
  margin: 10px;
}

.filter-button {
  margin: 5px;
}

.articles-section {
  grid-area: auto;
  justify-self: center;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 100vw;
  background-color: white;
}

@media only screen and (min-width: 768px) {
  .articles-section {
    grid-template-columns: 65vw;
    box-shadow: 0 0 3px grey;
  }
}

.articles-header {
  grid-row: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 13px;
  border-bottom: 1px solid white;
  background-color: #2a779a;
}

.articles-header > h2 {
  color: white;
  padding: 0px 10px 0px 10px;
}

.articles-header > nav {
  font-size: smaller;
  padding: 0px 10px 0px 10px;
}

.article-cards {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.article-card {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  height: min-content;
  max-width: 400px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px #15658d;
}

.article-card > h4 {
  margin: 5px;
}

.article-card > p {
  margin-left: 10px;
  margin-top: 1px;
  font-size: 0.75em;
}

.article-card-footer {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: auto 5px auto 5px;
}

.vote-count {
  grid-column: 1;
  display: flex;
  justify-self: left;
  width: 40px;
  margin: auto 5px 10px 10px;
}

.read-icon {
  grid-column: 2;
  display: flex;
  justify-self: right;
  width: 30px;
  margin: auto 5px 5px 5px;
}

.read-icon > img {
  height: 30px;
  width: auto;
}

article {
  margin: 10px;
}

article > h2 {
  color: #15658d;
}

.highlighted-text {
  background-color: #15658d;
  color: white;
  max-width: min-content;
  padding: 1px;
  margin: 1px 0 1px 0;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) {
  .article-page {
    grid-template-columns: 60vw;
  }
  article {
    justify-self: center;
  }
}

.comments-section {
  margin: 0 15px;
  max-width: 525px;
}

.article-page-actions {
  display: grid;
  grid-template-columns: 380px 150px;
  align-items: center;
  margin: 20px 10px;
  justify-items: center;
}

.article-page-action-comment {
  grid-column: 1;
  width: 98%;
}

.article-page-submit-button {
  margin-left: 10px;
  height: 25px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.article-page-comment-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 375px;
}

.article-page-action-buttons {
  grid-column: 2;
}

.article-page-action-button {
  padding: 0 7px;
}

@media only screen and (max-width: 420px) {
  .signed-in {
    display: none;
  }
  .article-page-actions {
    grid-template-columns: 100%;
  }
  .article-page-action-buttons {
    grid-column: 1;
    margin: 10px;
  }
}

.clickedButton,
.unclickedButton {
  height: 25px;
  border-radius: 10px;
  margin: 0 5px;
}

.clickedButton {
  background-color: lightgray;
  border: 1px solid grey;
}

.unclickedButton {
  background-color: white;
  border: 1px solid lightgray;
}
