.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 100vw;
}

.articles-section {
  grid-area: auto;
  display: grid;
  grid-template-rows: 50px auto;
}

.articles-header {
  grid-row: 1;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px; */
  border: 1px solid green;
}

.articles-header > nav {
  font-size: smaller;
}

.article-cards {
  flex: 0 0 100%;
  display: flex;
  border: 1px solid green;
}

.article-card {
  flex: auto;
}
